* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', open-sans;
}

body {
  margin: 0;
  background-color: #f2f2f2;
}

header {
  width: 40rem;
  max-width: 90%;
  border-radius: 10px;
  margin: 1rem auto 0;
  background-image: linear-gradient(to top, #023d6d, #0961aa);
  color: white;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

#results,
#calculator {
  position: relative;
  margin: 2rem auto;
  width: 40rem;
  max-width: 90%;
  border: 1px solid #023d6d;
  border-radius: 10px;
  padding: 1rem;
  background-color: #e6e6e6;
  color: #023d6d;
}

#results {
  text-align: center;
}

#calculator::before,
#calculator::after,
#results::before,
#results::after {
  content: '';
  position: absolute;
  width: 90%;
  height: 1rem;
  border-radius: 10px;
  bottom: .9rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

#calculator::before,
#results::before {
 left: 0;
 transform: rotate(-3deg);
}

#calculator::after,
#results::after {
  right: 0;
  transform: rotate(3deg);
}

#calculator input {
  font: inherit;
  font-size: 3rem;
  border: 2px solid #023d6d;
  border-radius: 5px;
  width: 10rem;
  padding: 0.15rem;
  margin: auto;
  display: block;
  color: #023d6d;
  text-align: center;
}

#calculator input:focus {
  outline: none;
}

#calculator button {
  font: inherit;
  font-size: 1.3rem;
  background: #023d6d;
  color: white;
  border: 1px solid #023d6d;
  border-radius: 4px;
  padding: 1rem;
  cursor: pointer;
}

#calculator #btn-clear {
  background-color: #cc0044;
  border: 1px solid #cc0044;
}

#calculator button:focus {
  outline: none;
}

#calculator button:hover,
#calculator button:active {
  background: #084f88;
  border-color: #084f88;
}

#calculator #btn-clear:hover,
#calculator #btn-clear:active {
  background-color: #e6004c;
  border-color: #e6004c;
}

#calc-actions button {
  width: 4rem;
}

#calc-actions {
  margin-top: 1rem;
  text-align: center;
}
